<div class="page_wrapper" style="width: 800px; margin: 0 auto;">
<% @posts.each do |post| %>
     <h1 class="title"><%= link_to post.title, post %></h1>
     <p class="date">submitted <%= time_ago_in_words(post.created_at) %> ago</p>
     <p class="body"><%= truncate(post.body, length:100) %></p>
<% end %>
</div>